.body{
    flex: 100%;
    
    background:  linear-gradient(rgb(91,87,115), rgba(0,0,0,1));
    background-color: black;
    padding: 30px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 15px;
}

.body_section {
    margin: 20px 0;
}

.body_sectionContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.body_sections::-webkit-scrollbar {
    width: 6px;
    color: black;
  }

.body_sections::-webkit-scrollbar-track{
    background:black;
}
.body_sections::-webkit-scrollbar-thumb {
  background-color: black; /* Color of the scrollbar thumb */
  color: black;
  border-radius: 4px;
}

.body_sections::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.body_info{
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.body_info > p{
    font-size: 14px;
}

.body_info > img{
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body_infoText > h2{
    font-size: 48px;
    margin-bottom: 10px;
}

.body_infoText > p{
    font-size: 14px;
}

.body_songs{
    margin: 20px -30px;
}

.body_icons > .MuiSvgIcon-root{
    margin-right: 20px;
}
.body__shuffle {
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.body_shuffle:hover{
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}


.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.row {
    display: flex;
    overflow-x: scroll;
    padding: 20px 0;
}

.row::-webkit-scrollbar {
    display: none;
}
